@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body{
    background-color:whitesmoke;
    margin: 0;
}

h1{
    font-family: 'Zen Dots', cursive;
    margin-top: 1rem;
    text-align: center;
    color: deeppink;
    letter-spacing: 1.3rem;
    
}

